
<table>
  <tr>
    <th>Förnamn</th>
    <th>Efternamn</th>
  </tr>
  <tr *ngFor="let doctor of doctors$ | async">
    <td><a (click)="showDoctor(doctor)">{{doctor.firstName}}</a></td>
    <td>{{doctor.lastName}}</td>
  </tr>
</table>